In [1]:
# String Operations

In [5]:
"Michael Jackson" # Double quotes

'Michael Jackson'

In [6]:
'Michael Jackson' # Single quotes

'Michael Jackson'

In [8]:
# Assign a string to another variable
Name = "Michael Jackson"
Name

'Michael Jackson'

In [11]:
# Think of string as ordered sequence. Access the first index in the string.
Name[0]

'M'

In [12]:
# We can use negative indexing with strings. The last index is given by the index -1.
Name[-1]

'n'

In [13]:
# Slicing Strings
Name[0:4]

'Mich'

In [14]:
# Slicing String
Name[8:12]

'Jack'

In [15]:
# Stride / Select every second variable
Name[::2]

'McalJcsn'

In [17]:
# Slicing / Return every second value up to index 4
Name[0:5:2]

'Mca'

In [19]:
# Get the length of the string with len command

len("Michael Jackson")

15

In [22]:
# Concatenate or combine strings

Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

In [30]:
# Replicate values of the string / Multiple by the number of times you want to replicate

3* "Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [34]:
# When you replicate value it is immutable or you cannot change the value. You can instead create a new string
Name = Name + " is the best"
Name

'Michael Jackson is the best is the best is the best'

In [37]:
# \n represents a new line
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [38]:
# \t is a tab
print("Michael Jackson\t is the best")

Michael Jackson	 is the best

In [39]:
# if you want a blackslack in your string use \\
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [40]:
# You can also place an r in front of the string
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [41]:
# String Methods / Sequence Method

In [43]:
# Upper

A = "Thriller is the sixth studio album"
B = A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [44]:
# Replace

A = "Michael Jackson is the best"
B = A.replace("Michael", "Janet")
B

'Janet Jackson is the best'

In [45]:
# Find / The output is the first index of the sequence

Name.find("el")

5

In [46]:
Name.find("Jack")

8

In [48]:
# If output is not in the string, the output is negative 1

Name.find("&*D")

-1

In [50]:
# Use slicing to find the first four elements of the following string:

Letters = "ABCDEFGHIJK"
Name[0:4]

'Mich'

In [51]:
# Use a stride value of two on the following string:
Good = "GsoAo+d"
Good[::2]

'Good'

In [52]:
# Convert the following string to uppercase using the method upper()

In [53]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [54]:
# What are Strings?
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [55]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [56]:
# Digitals and spaces in string
"1 2 3 4 5 6 "

'1 2 3 4 5 6 '

In [58]:
# Special characters in string
"@#2+#]&*^"

'@#2+#]&*^'

In [59]:
# Print the string
print("hello!")

hello!

In [60]:
# Assing string to variable
Name = "Michael Jackson"
Name

'Michael Jackson'

In [61]:
# Indexing

# Print the first element in the string
print(Name[0])

M

In [62]:
# Print the element on index 6 in the string
print(Name[6])

l

In [64]:
# Print the element on the 13th index in the string
print(Name[13])

o

In [65]:
# Negative Indexing

# Print the last element in the string
print(Name[-1])

n

In [66]:
# Print the first element in the string
print(Name[-15])

M

In [70]:
# Find the length of string
len("Michael Jackson")

15

In [68]:
# Slicing

# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [69]:
# Take the slice on variable Name with only index 8 to index 11
Name[8:12]

'Jack'

In [73]:
# Stride

# Get every second element. The elements on index 1,3,5 ...
Name[::2]

'McalJcsn'

In [74]:
# Get every second element in the range from 0 to index 4
Name[0:5:2]

'Mca'

In [76]:
# Concat Strings

# Concat two strings
Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

In [78]:
# Print the strings for 3 times
3 * " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

In [79]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [80]:
# Escape Sequences

# New line escape sequence
print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [81]:
# Tab escape sequence
print(" Michael Jackson \t is the best")

 Michael Jackson 	 is the best

In [82]:
# Include back slash in string
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [83]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

In [85]:
# String Operations

# Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [86]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace("Michael", "Janet")
B

'Janet Jackson is the best'

In [87]:
# Find the substring in the string. Only the index of the first element of substring in string will be the output

Name = "Michael Jackson"
Name.find("el")

5

In [88]:
# Find the substring in the string
Name.find("Jack")

8

In [89]:
# If cannot find the substring in the string
Name.find("Jasdfasdasdf")

-1

In [96]:
# Write your code below and press Shift+Enter to execute
A = "1"
A

'1'

In [95]:
# Write your code below and press Shift+Enter to execute
B = "2"
B

'2'

In [94]:
# Write your code below and press Shift+Enter to execute
C = A + B
C

'12'

In [100]:
# Write your code below and press Shift+Enter to execute / Use slice to print out first 3 elements
D = "ABCDEFG"
D[0:3]

'ABC'

In [107]:
# Write your code below and and press Shift+Enter to execute / Print out every second character of string E
E = "clocrkr1ec1t"
E[::2]

'corre1'

In [109]:
# Write your code below and press Shift+Enter to execute / Print out a backslash

print("\\")

\

In [112]:
# Write your code below and press Shift+Enter to execute / Convert F variable to uppercase
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [113]:
# Write your code below and press Shift+ Enter to execute / Consider variable G, and find the first index of the sub-string snow

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

G.find("snow")

95

In [115]:
G[95:99]

'snow'

In [118]:
# Write your code below and press Shift+Enter to execute
H = G.replace("Mary", "Bob")
H

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'