In [1]:
# What is the result of the following operation in Python:

3 + 2 * 2

7

In [3]:
# In Python, if you executed name = "Lizz", what would be the output of print(name[0:2])?
name = "Lizz"
print(name[0:2])

Li

In [4]:
# In Python, if you executed var = "01234567", what would be the result of print(var[::2])?
var = "01234567"
print(var[::2])

0246

In [7]:
# In Python, what is the result of the following operation "1" + "2"
"1"+"2"

'12'

In [8]:
# Given myvar = "hello", how would you convert myvar into uppercase?
myvar = "hello"
myvar.upper()

'HELLO'

In [10]:
# List and Tuples (compound data types)

Ratings = (10,9,6,5,10,8,9,6,2) # Tuple
Tuple1 = ("disco", 10, 1.2) # In Python different types can be contained in a tuple

In [13]:
Tuple1[0]

'disco'

In [15]:
Tuple2 = Tuple1 + ("hard rock", 10) # concat or combine tuples
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [16]:
# Slicing Tuples
Tuple2[0:3] # first 3 elements

('disco', 10, 1.2)

In [17]:
Tuple2[3:5] # Last two elements

('hard rock', 10)

In [18]:
len(Tuple2) # length of tuple

5

In [20]:
# Tuples are immutable
RatingsSorted = sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [21]:
# Tuples: Nesting

NT = (1,2,("pop","rock"), (3,4),("disco",(1,2)))
NT[2]

('pop', 'rock')

In [22]:
NT[2][1]

'rock'

In [23]:
# Lists (lists are mutable meaning they can be changed)

L= ["Michael Jackson", 10.123]
L[0]

'Michael Jackson'

In [24]:
L[-1]

10.123

In [28]:
L = ["Michael Jordan", 10.1, 1982] 
L.append(["pop",10])
L

['Michael Jordan', 10.1, 1982, ['pop', 10]]

In [30]:
L1 = L + ["concat"]
L1

['Michael Jordan', 10.1, 1982, ['pop', 10], 'concat']

In [31]:
L1.extend(["extra", 20]) # L1 is modified to add "extra", 20
L1

['Michael Jordan', 10.1, 1982, ['pop', 10], 'concat', 'extra', 20]

In [33]:
# Create the Tuple (0,1,2,3) and assign it to the variable A:

A = (0,1,2,3)

In [35]:
# Find the first two elements of the Tuple A:

A[0:2]

(0, 1)

In [37]:
# For the next few questions, you will need the following list:
B = ["a","b","c"]

# Find the first two elements of the list B:

B[0:2]

['a', 'b']

In [40]:
# Change the first element of the list to an uppercase "A"

B[0].upper()

'A'

In [44]:
# How do you access the last element of the tuple: A = (0,1,2,3):
A = (1,2,3)
A[-1]

3

In [45]:
# Consider the list B = ["a", "b", "c"] / What is the result of the following B[1:]
B[1:]

['b', 'c']

In [46]:
# Tuples in Python

In [47]:
# Create your first tuple

tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [48]:
# Print the type of the tuple you created
type(tuple1)

tuple

In [49]:
#Indexing
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [50]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [51]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [52]:
# Use negative indext to get the value of the second last element

tuple1[-2]

10

In [53]:
# Use negative indext to get the value fo the third last element

tuple1[-3]

'disco'

In [54]:
# Concatenate Tuples
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [55]:
# Slicing
# Slice from index - to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [56]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [57]:
# Get the length of tuple

len(tuple2)

5

In [58]:
# Sorting 
# A sample tuple

Ratings = (0,9,6,5,10,8,9,6,2)

In [60]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [64]:
# Nested Tuple
# Create a nest tuple

NestedT = (1,2, ("pop", "rock"), (3,4),("disco",(1,2)))

In [65]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [66]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ", NestedT[2][0])
print("Element 2, 1 of Tuple: ", NestedT[2][1])
print("Element 3, 0 of Tuple: ", NestedT[3][0])
print("Element 3, 1 of Tuple: ", NestedT[3][1])
print("Element 4, 0 of Tuple: ", NestedT[4][0])
print("Element 4, 1 of Tuple: ", NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [67]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [68]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [69]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [70]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [73]:
# Quiz on Tuples

# Sample Tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", 
               "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [74]:
# Find the length of the tuple, genres_tuple:
# Write your code below and press Shift+Enter to execute

len(genres_tuple)

8

In [75]:
# Access the element with respect to index 3:

genres_tuple[3]

'hard rock'

In [76]:
# Use slicing to obtain indesex 3,4,5

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [80]:
# Find the first two elements of the tuple genres_tuple:

genres_tuple[0:2]

('pop', 'rock')

In [87]:
# Find the first index "disco"

genres_tuple.index("disco")

7

In [95]:
# Generate a sorted List from the Tuple C+tuple = (-5,1,-3):
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [98]:
# Create a list

L = ["Michael Jordan", 10.1, 1982]
L

['Michael Jordan', 10.1, 1982]

In [117]:
# Print the elements on each index

print('The same element using negative and positive indexing: \n Positive:',L[0],'\n Negative:', L[-3])
print("\n")
print("The same element using negative and postive indexing: \n Positive:", L[1], "\n Negative:", L[-2])
print("\n")
print("The same element using negative and positive indexing: \n Positive:", L[2], "\n Negative:", L[-1])

The same element using negative and positive indexing:
 Positive: Michael Jordan
 Negative: Michael Jordan


The same element using negative and postive indexing:
 Positive: 10.1
 Negative: 10.1


The same element using negative and positive indexing:
 Positive: 1982
 Negative: 1982

In [118]:
# Sample List

["Michael Jordan", 10.1, 1982, [1,2], ("A",1)]

['Michael Jordan', 10.1, 1982, [1, 2], ('A', 1)]

In [119]:
# Sample List

L = ["Michael Jordan", 10.1, 1982, "MJ", 1]
L

['Michael Jordan', 10.1, 1982, 'MJ', 1]

In [120]:
# List slicing
L[3:5]

['MJ', 1]

In [123]:
# Use append to add elements to list / add one element to list

L = ["Michael Jordan", 10.2]
L.append(["pop", 10])
L

['Michael Jordan', 10.2, ['pop', 10]]

In [131]:
# Use extend to add elements to list / add two new elements to list 

L = ["Michael Jordan", 10.2]
L.extend(["pop", 10])
L

['Michael Jordan', 10.2, 'pop', 10]

In [133]:
# Use append to add elements to list

L.append(["a","b"])
L

['Michael Jordan', 10.2, 'pop', 10, ['a', 'b']]

In [134]:
# *** Lists are mutable ***

In [135]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print("Before change:", A)
A[0] = "hard rock"
print("After change", A)

Before change: ['disco', 10, 1.2]
After change ['hard rock', 10, 1.2]

In [136]:
# Delete the element based on the index

print("Before change:", A)
del(A[0])
print("After change:", A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [137]:
# Split the string, default is by space

"hard rock".split()

['hard', 'rock']

In [140]:
# Split the string by comma 

"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [141]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print("A:", A)
print("B:", B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [143]:
# Examine the copy by reference

print("B[0]:", B[0])
A[0] = "banana"
print("B[0]:", B[0])

B[0]: hard rock
B[0]: banana

In [144]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [145]:
print("B[0]:", B[0])
A[0] = "hard rock"
print("B[0]:", B[0])

B[0]: banana
B[0]: banana

In [147]:
# Create a_list, with the following elements 1, hello, [1,2,3], and True

a_list = [1, "hello", [1,2,3], True]

In [148]:
# Find the value stored at index 1 of a_list

a_list[1]

'hello'

In [149]:
# Retrieve the elements stored at index 1,2 and 2 of a_list

a_list[1:4]

['hello', [1, 2, 3], True]

In [151]:
# Concatenate the following lists A = [1, "a"] and B = [2,1,"d"]:

A = [1,"a"]
B = [2,1,"d"]
C = A + B
C

[1, 'a', 2, 1, 'd']